/* Mise en forme générale */
body {
    margin: 0;
    font-size: 1.3em;
    border: 10px solid #a11f3c;
    background-color: wheat;
}

/* En-tête */
header {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

/* h1 */
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}

h4 {
    text-align: end;
}

/* Contenu */
main {
    padding: 10px;
}

/* Tableau */
table {
    text-align: center;
    align-content: center;
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
}

.text {
    text-align: start;
    transform: translateX(80px);
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    /* margin: 0 auto; */
}

.pic {
    margin: 0 auto;
    justify-content: center;
}

#UserPic {
    width: 115px;
    height: 115px;
    display: block;
    border: 3px solid goldenrod;
    margin: auto;
    transform: translateX(80px);
    /* margin: 0 auto; */
}

.content {
    justify-content: center;
    display: inline-flex;
}

a {
    color: #a11f3c;
    font-style: italic;
}

#movie {
    height: 444px;
    width: 300px;
    margin: 0px auto;
    border: 3px solid white;
    margin-top: -115px;
    /* transform: translateY(-115px); */
}

.text-end {
    text-align: right;
    margin-right: 50px;
}

th,
td {
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
}

/* Pied de page */
footer {
    /* background-color: #ddd;
    padding: 10px; */
    text-align: center;
    font-style: italic;
}